# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
.venv/
venv/
env./

# Environment variables
.env
.env.*

# Streamlit
.streamlit/secrets.toml

# Build / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
